.Form .Email,
.Form .Password,
.Form .Name {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: auto;
  height: auto;
  width: 300px;
  margin: 0 auto;
}
.Form .Buttons,
.Form .Buttons .opButton{
  position: relative;
  height: 37px;
  width: 300px;
  margin: 0 auto;
  margin-top: 15px;
}
.Form .ThirdPartyLoginButtons .opButton {
  margin-top: 15px;
  padding-top: 15px;
  text-align: center;
  border-top: 1px solid #2c3e50;
}
.blueRule { 
  position: relative;
  background: #2c3e50; 
  max-width: 300px; 
  height: 1px; 
  margin:0 auto;
  margin: 0;
  margin-top: 15px;
} 
.blueRule hr { 
  display: none; 
} 



