<!DOCTYPE html>
<!--
88           ,ad8888ba,   88         88 8888       88    ,ad8888ba,  88888888888 
88          d8"'    `"8b  88         88 88 88      88   d8"'    `"8b 88
88         d8'        `8b 88         88 88  88     88  d8'           88
88         88          88 88         88 88   88    88  88            8dev@Lounge
88         88          88 88         88 88    88   88  88      88888 88"""""""""
88         Y8,        ,8P Y8,        88 88     88  88  Y8,        88 88
88          Y8a.    .a8P  Y8a.       88 88      88 88  Y8a.    .a88  88
88888888888  `"Y8888Y"'    `"Y888888888 88       8888   `"Y88888P"   88888888888
     Copyright © 2015 Lounge. All rights reserved.                           -->
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=0.5">
    <title>로그인 :: Lounge</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="js/todos.js"></script>
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="css/user.css">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="autocomplete" content="off">
    <link href="//sk2.op.gg/css2/min.css?1433502019" rel="stylesheet" type="text/css">
    <link href="//sk2.op.gg/css2/min.page.css?1433502019" rel="stylesheet" type="text/css">
    <link href="//sk2.op.gg/css2/min.page2.css?1433502019" rel="stylesheet" type="text/css">
    <link href="//sk2.op.gg/css2/min.mobile.css?1433502019" rel="stylesheet" type="text/css">
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js"></script>
    <link href="//sk2.op.gg/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>
    <div id="fb-root"></div>
    <script>
      //***********************************************************
      // Be sure to add your Parse Keys and Facebook App ID Below!
      //***********************************************************
      // Initialize Parse
      Parse.initialize("cfwULV0DDbuYUytwY7Ve9gyrFvKM2jJcGWabPqIU", "lUKeO8vWE2QxQwdAFNZhKpKOW3IhKQyd0YOMghcv");
      // Initialize the Facebook SDK with Parse as described at 
      // https://parse.com/docs/js_guide#fbusers
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        Parse.FacebookUtils.init({
          appId      : '1459046514407348', // Facebook App ID
          //channelUrl : '//www.lounge.com/channel.html', // Channel File
          //status     : true, // check login status
          //cookie     : true, // enable cookies to allow Parse to access the session
          xfbml      : true  // parse XFBML
          //version    : 'v2.3'
        });
      };
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.3&appId=1459046514407348";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      $(function(){
        $('.VerticalMiniForm .Form .Input input').on('focus', function(){
            $(this).closest('.input').addClass('focus');
          }).on('blur', function(){
            $(this).closest('.input').removeClass('focus');
          })
      })
    </script>
    <!-- Todo App Interface -->
    <div class="PhotoScreen">
      <div class="PhotoScreenBg" style="background-image: url(//4.bp.blogspot.com/-E10nk83X-JI/T1Ok7vS42QI/AAAAAAAAAGA/jNvfJCbXcH0/s1600/lounge.jpg)">
        <div class="PhotoScreenBgVinetter"></div>
	<div class="PhotoScreenBgPattern"></div>
      </div>
      <script>
        $(function(){
          $('.VerticalMiniForm .Form .Input input').on('focus', function(){
            $(this).closest('.Input').addClass('focus');
          }).on('blur', function(){
          $(this).closest('.Input').removeClass('focus');
          })
        })
      </script>
	<div class="PhotoScreenContent">
	  <div class="Center">
	    <div class="VerticalMiniForm LoginForm">
	      <div class="Logo">
	        <h1><a href="/">LOUNGE</a></h1>
	        <!--<h1><a href="/"><img src="//sk2.op.gg/images/global_logo_index.png"></a></h1>-->
	      </div>
	      <div id="todoapp">
	      	<div class="content">
                </div>
	      </div>
	      <!-- Templates -->
	      <script type="text/template" id="login-template">
	      <header id="header"></header>
	      <div class="Form">
	        <form class="login-form">
	          <div class="error" style="display:none"></div>
	          <input type="hidden" name="referer" value="http://lounge.parseapp.com/">
	          <div class="Input Email">
	            <span class="title"><i class="icon-user"></i></span>
	            <span class="input"><input type="text"  id="login-email" class="Email" name="identifier" placeholder="이메일"></span>
	          </div>
	          <div class="Input Password">
	            <span class="title"><i class="icon-key"></i></span>
	            <span class="input"><input type="password" id="login-password" class="Password" name="password" placeholder="비밀번호"></span>
	            <div class="Icon"><a href="/member/find" class="tip" original-title="비밀번호 찾기"><i class="icon-question-sign"></i></a>
	            </div>
	          </div>
	          <div class="Buttons">
	            <button class="opButton green login">로그인</button>
	            <a href="#" class="opButton blue joinLink">이메일 주소로 간단하게 회원가입</a>
	            <div class="blueRule"><hr /></div>
	            <a href="#" class="opButton ThirdPartyLoginButton LoginButtonWithFacebook" onclick="Login.loginWithFacebook(this); return false;">
	            <i class="icon-facebook icon-large"></i>
	              &nbsp;
	              페이스북으로 접속
	            </a>
	          </div>
	        </form>
	        <form class="signup-form" style="display:none">
	          <div class="error" style="display:none"></div>
	          <div class="Input Email">
	            <span class="input"><input type="text" id="signup-email" class="Email" name="email" placeholder="이메일"></span>
	          </div>
	          <div class="Input Password">
	            <span class="input"><input type="password" id="signup-password" class="Password" name="password" placeholder="비밀번호"></span>
	          </div>
	            <div class="Input Name">
  	          <span class="input"><input type="text" id="signup-username" class="Name" name="name" placeholder="학번 or 닉네임"></span>
  	          </div>
  	          <div class="Buttons">
	            <button class="opButton green join">회원가입</button>
	          </div>
	        </form>
	      </div>
	      <div class="FormDesc">
	        이메일 및 개인정보는 절대 타인에게 공개되지 않으므로 안심하세요!
	      </div>
	      </script>
	      <script type="text/template" id="manage-todos-template">
                <div id="user-info">
                  Signed in as <%= Parse.User.current().escape("username") %> (<a href="#" class="log-out">Log out</a>)
                </div>

                <div class="section">

                <header id="header">
                  <input id="new-todo" placeholder="What needs to be done?" type="text" />
                </header>

                <div id="main">
                  <input id="toggle-all" type="checkbox">
                  <label for="toggle-all">Mark all as complete</label>
          
                  <ul id="todo-list">
                    <img src='images/spinner.gif' class='spinner' />
                  </ul>
                </div>

                <div id="todo-stats"></div>
              </div>
            </script>

            <script type="text/template" id="item-template">
              <li class="<%= done ? 'completed' : '' %>">
	        <div class="view">
	          <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %>>
	          <label class="todo-content"><%= _.escape(content) %></label>
	          <button class="todo-destroy"></button>
	        </div>
    	        <input class="edit" value="<%= _.escape(content) %>">
              </li>
            </script>

            <script type="text/template" id="stats-template">
              <footer id="footer">
	        <span id="todo-count"><strong><%= remaining %></strong> <%= remaining == 1 ? 'item' : 'items' %> left</span>
    	        <ul id="filters">
	          <li>
	            <a href="javascript:void(0)" id="all" class="selected">All</a>
	          </li>
	          <li>
    	            <a href="javascript:void(0)" id="active">Active</a>
	          </li>
	          <li>
	            <a href="javascript:void(0)" id="completed">Completed</a>
	          </li>
	        </ul>
            	<button id="clear-completed">Clear completed (<%= done %>)</button>
              </footer>
            </script>
	    </div>
	  </div>
        </div>
        <div class="PhotoInformation">
          라운지
        </div>
      </div>
    </div>
    <script type="text/template" id="check-template">
      <div id="nprogress" style="transition: all 200ms linear; -webkit-transition: all 200ms linear; opacity: 0;"><div class="bar" role="bar" style="transform: translate3d(0%, 0px, 0px); transition: all 200ms ease; -webkit-transition: all 200ms ease;"><div class="peg"></div></div><div class="spinner" role="spinner"><div class="spinner-icon"></div></div></div>
    </script>
  </body>
</html>
