.board{
	color:#ffffff;
	background-color:#404040;
	-webkit-background-size:cover;
		 -moz-background-size:cover;
			  -o-background-size:cover;
	margin-bottom: 0px;
	padding: 10px;
	background-size: cover;
	display: block;
	position:relative;
	padding: 5px;
}

.boardOver{
	color:#ffffff;
	background-color:#505050;
	-webkit-background-size:cover;
		 -moz-background-size:cover;
			  -o-background-size:cover;
	margin-bottom: 0px;
	padding: 10px;
	background-size: cover;
	display: block;
	position:relative;
	padding: 5px;
}
.input-sidebar, .output-sidebar{
	text-align: center;
}
.input-sidebar{
	color: #337ab7;
}
.output-sidebar{
	color: #f0ad4e;
}
#title{
	color: #333333;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 40px;
}
#glyphicons{
	padding: 1px;
	align:center;
	margin: 0 auto;
}
/*준성이가 수정한 부분*/
.item:hover{
	cursor: pointer;
}
/*준성이가 수정한 부분*/
.input:hover{
	border-radius: 5px;
	background: #337ab7;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
}
/*준성이가 수정한 부분*/
.output:hover{
	border-radius: 5px;
	background: #f0ad4e;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
}
.process{
	align: center;
	color: #ffffff;
	height: 50px;
	width: 100%;
	padding: 10px;
	margin: 0 auto;
}
#simulating{	
	background-color: #337ab7;
}
#create{
	background-color: #f0ad4e;
}
.inputOver{
	width: 150px;
	height: 50px;
	border-radius: 5px;
	background-color: #06d5f9;
	text-align:center;
	padding: 5px;
	margin: 5px;
}

.outputOver{
	width: 150px;
	height: 50px;
	border-radius: 5px;
	background-color: #eaf50a;
	text-align:center;
	vertical-align:center;
	padding: 5px;
	margin: 5px;
}

.inputContent{
	min-width:150px;
	min-height:50px;
	width: auto;
	height: auto;
	border-radius: 5px;
	position:absolute;
	background-color: #337ab7;
	text-align:center;
	vertical-align:center;
	padding: 5px;
	margin: 5px;
}
.outputContent{
	position:relative;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	background-color: #f0ad4e;
	text-align:center;
	vertical-align:center;
	padding: 5px;
	margin: 5px;
	display:block;
}
/*준성이가 수정한 부분*/
.inputContent:hover,
.outputContent:hover{
	cursor: pointer;
}
#onBoard{
}
